.article-thumbnail{
    width: 100%;
    aspect-ratio: 16/9;
    background-color: rgb(168, 183, 192);
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}