@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

div.main-container{
    background: rgb(225, 244, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        min-height: calc(100vh - 180rem);
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 100rem 0 50rem;
    box-sizing: border-box;
}

div.Toastify {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 256;
    pointer-events: none;
    div{
        pointer-events: all;
    }
    .Toastify__toast {
        margin-top: 30rem;
    }
}
