@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


div.index-content-container{
    --outer-x-padding: 2.5%;
    --inner-x-padding: 2.5%;
    --inner-y-padding: var(--inner-x-padding);
    border: solid rgb(131, 161, 192) 2px;
    position: relative;
    margin-top: 8vh;
    border-radius: 3px;
    left: var(--outer-x-padding);
    width: calc(100% - calc(var(--outer-x-padding) * 2));
    height: fit-content;
    background-color: rgb(238, 246, 255);
    display: flex;
    flex-direction: column;
    padding: var(--inner-y-padding) var(--inner-x-padding);
    box-sizing: border-box;

    &:nth-child(even) {
        .content-wrapper {
            flex-direction: row-reverse;
        }
    }

    .content-wrapper {
        display: flex;
        align-items: stretch;
        flex: 1;
    }

    .content-block{
        position: relative;
        align-items: center;
        display: flex;
        flex: 1;

        p{
            font-family: 'Noto Sans TC';
            margin: 0.25vh;
        }

        .text-block{
            display: flex;
            flex-direction: column;
            height: fit-content;
            // align-self: center;
        }
    }

    .image-block{
        position: relative;
        width: calc(30% - var(--inner-x-padding));
        height: fit-content;
        display: inline-block;
        align-self: center;

        img{
            width: 100%;
            position: relative;
            display: inline-block;
        }
    }

    .title-block{
        position: relative;
        width: 100%;
        box-sizing: border-box;

        p{
            font-family: 'Noto Sans TC';
            font-weight: bold;
            font-size: 5vh;
            margin: 0;
        }
    }
}

@media (orientation: portrait) {
    div.index-content-container {
        .content-wrapper, &:nth-child(even) .content-wrapper {
            flex-direction: column-reverse;
        }
    }
}
