@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

div.nav-link{
    transition: all 0.3s;
    height: 100%;
    width: 100%;    
    cursor: pointer;

    a.nav-text{
        color: black;
        text-decoration: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        text-align: center;
        margin: 0;
        font-family: 'Noto Sans TC';
        font-weight: 500;
        white-space: nowrap;
    }
    
    a.nav-text.on-hover{
        color: rgb(17, 137, 249);
        transition: all 0.3s;
    }
}

/* div.nav-link:hover{
    background-color: rgba(251, 245, 219, 0.1);
    transition: all 0.3s;
} */
