.profile-page {
    padding: 0 300rem;
    margin: auto;
    width: 100%;
    font-size: 28rem;

    .profile-block-wrapper {
        margin-top: 50rem;
        border-radius: 8rem;
        position: relative;
        border: solid #83a1c0 2px;
        background-color: white;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        .option-wrapper {
            width: 100%;
            display: grid;
            grid-template-columns: max-content auto;
            gap: 17rem;
            padding: 17rem;
            padding-left: 200rem;
            padding-right: 200rem;

            label {
                display: contents; 

                p.hint {
                    width: 100%;
                    text-align: right;
                    color: #e87e37;
                    font-family: 'Noto Sans TC';
                    font-size: 20rem;
                }

                span {
                    grid-column: 1; 
                    text-align: right;
                    align-self: center;
                }

                input {
                    grid-column: 2; 
                    height: 70rem;
                    padding: 9rem;
                    outline: none;
                    transition: 0.3s;
                    border-radius: 5px;
                    font-size: 15px;
                    background-color: #ffffff;
                    border: rgb(169, 169, 169) 2px solid;
                    box-sizing: border-box;
                    width: 100%;
                    align-self: center;
                }

                input:read-only:focus {
                    border: #e87e37 2px solid;
                }

                input:not(:read-only):focus {
                    border: #61a7f3 2px solid;
                }
            }
        }

        button {
            font-size: 15px;
            border-radius:5px;
            background: #24558b;
            color: #fff;
            cursor: pointer;
            padding: 5px 10px;
            height: 70rem;
            width: 150rem;
            margin-bottom: 30rem;
        }
    }
}

@media (orientation: portrait) {
    .profile-page {
        .profile-block-wrapper {
            grid-template-columns: 1fr; 
            label {
                display: flex;
                flex-direction: column;
                align-items: stretch;

                span, input {
                    width: 100%;
                }

                span {
                    margin-bottom: 10rem;
                    text-align: left;
                }
            }
        }
    }
}
